

#container {
  display: flex;
  flex-wrap: wrap;
  width: 700px; /* total width of grid */
  border: 2px solid #444;
  background-color: white;
}


.square {
  flex: 1 0 var(--square-size);       /* 100 / 16 = 6.25% */
  aspect-ratio: 1 / 1;    /* keeps the squares perfect */
  border: 1px solid #ddd; /* optional grid lines */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  height: 100vh;
 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

h1 {
  font-size: 2em;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;  
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

